html {
  background-color: #202020;
  height: 100%;
}

body {
  background-color: #202020;
  min-height: 100vh;
  padding: 0;
}

.repo-card {
  background-color: #ffffffc7;
}

.repo-card-footer {
  background-color: #ffffff13;
}
