body {
  padding: 3rem;
  background: #202020;
  color: white;
}
button {
  margin-inline: 1%;
}

strong {
  font-size: small;
}

#div {
  padding-top: 4rem;
  background: #202020;
  width: 100vh;
  height: 100vh;
}
